//SASS=> syntactically awesome style sheet
//SCSS=> sassy cascading style sheets
//variables
//operators
//nesting
//mixin
//mixin properties
//partials
//inheritance
//looping
//if else
//partials
@import "_variables";
//variables
// $bg-color: #10ac84;
// $font-stack: Helvetica, sans-serif;
// $font-color: red;
body {
  background-color: rgba(15, 14, 14, 0.701);
}
h1 {
  font: 100% $font-stack;
  color: $bg-color;
}

//operators
p {
  color: $font-color;
}

//nesting
header {
  h1 {
    font-size: 30px;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 30px;
  }
}

//mixin
@mixin codespace {
  display: flex;
  justify-content: center;
  align-items: center;
  //   flex-direction: column;
  border-radius: 8px;
  margin: auto;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  background-color: pink;
}

@mixin anotherCode($para1, $para2) {
  background-color: #10ac84;
  color: black;
  font-size: $para1;
  margin-top: $para2;
}

header {
  div {
    @include codespace;
  }
  .div2 {
    @include codespace;
    @include anotherCode(20px, 10px);
  }
}

//inheritance
%message-shared {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  color: rgba(56, 13, 13, 0.943);
}
.success {
  @extend %message-shared;
  background-color: green;
  margin-left: 30rem;
}
.success:hover {
  background-color: #10ac84;
}
.warning {
  @extend %message-shared;
  background-color: rgb(255, 132, 0);
}
.warning:hover {
  background-color: crimson;
}
.error {
  @extend %message-shared;
  background-color: red;
}
.error:hover {
  background-color: rgb(0, 255, 47);
}
.message {
  @extend %message-shared;
  background-color: pink;
}
.message:hover {
  background-color: rgb(17, 28, 193);
}

//looping and conditional if else
@mixin triangle($size, $color, $direction) {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: $size/2;
  margin: auto;

  @if ($direction == up) {
    border-bottom-color: $color;
  } @else if ($direction == right) {
    border-left-color: $color;
  } @else if($direction == down) {
    border-top-color: $color;
  } @else if($direction == left) {
    border-right-color: $color;
  } @else {
    @error "Unknown Direction #{$direction}";
  }
}
.next {
  @include triangle(50px, red, right);
}
